node_red_footswitch_flows.json
[{"id":"8c09c980.6d4868","type":"tab","label":"XLights Footswitch","disabled":false,"info":""},{"id":"acd44af3.562c38","type":"mqtt in","z":"8c09c980.6d4868","name":"FootSwitch","topic":"footSwitch/event","qos":"2","datatype":"auto","broker":"78bcd15e.955d5","x":80,"y":240,"wires":[["47e6391a.b21108"]]},{"id":"47e6391a.b21108","type":"switch","z":"8c09c980.6d4868","name":"Check Click Type","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":240,"wires":[["26bfa8ac.f768d8"],["b5b16f8e.4e9bf"]]},{"id":"26bfa8ac.f768d8","type":"api-current-state","z":"8c09c980.6d4868","name":"Show Idle?","server":"dbc2df96.d30ba","version":1,"outputs":2,"halt_if":"idle","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.fpp_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":180,"wires":[["5b3bdf5c.1a1aa"],["e629291a.6dbf08"]]},{"id":"5b3bdf5c.1a1aa","type":"api-call-service","z":"8c09c980.6d4868","name":"Play Show","server":"dbc2df96.d30ba","version":1,"debugenabled":false,"service_domain":"script","service":"falconplayer_start_playlist_halloween","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":140,"wires":[[]]},{"id":"e629291a.6dbf08","type":"api-call-service","z":"8c09c980.6d4868","name":"Turn on Amplifier","server":"dbc2df96.d30ba","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.amplifier","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":240,"wires":[["a63aca61.b06178"]]},{"id":"a63aca61.b06178","type":"ha-wait-until","z":"8c09c980.6d4868","name":"Wait 10 minutes","server":"dbc2df96.d30ba","outputs":2,"entityId":"","entityIdFilterType":"exact","property":"","comparator":"is","value":"","valueType":"str","timeout":"10","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":790,"y":360,"wires":[[],["1d5a251b.ec58ab"]]},{"id":"1d5a251b.ec58ab","type":"api-call-service","z":"8c09c980.6d4868","name":"Turn off Amplifier","server":"dbc2df96.d30ba","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.amplifier","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":440,"wires":[[]]},{"id":"b5b16f8e.4e9bf","type":"api-current-state","z":"8c09c980.6d4868","name":"Show Idle?","server":"dbc2df96.d30ba","version":1,"outputs":2,"halt_if":"idle","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.fpp_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":300,"wires":[[],["e629291a.6dbf08"]]},{"id":"78bcd15e.955d5","type":"mqtt-broker","z":"","name":"HASSIO","broker":"192.168.1.91","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dbc2df96.d30ba","type":"server","z":"","name":"Home Assistant","addon":true}]
